// ==========================================================================
// Default
// ==========================================================================
.content {
	.title {
		width: 75%;
		padding-top: 15px;
		font-size: 1.5rem;
	}
}

.content {
	padding: 25px;
	.price {
		font-weight: bold;
		font-size: 1rem;
	}
}

// ==========================================================================
// Lg Mobile
// ==========================================================================
@media screen and (min-width: 500px) {
	.content {
		padding: 50px;
	}
}

// ==========================================================================
// Tablet
// ==========================================================================
@media screen and (min-width: 768px) {
	.content {
		// padding: 50px;
	}
}

// ==========================================================================
// Desktop

// ==========================================================================

@media screen and (min-width: 1024px) {
	.content {
		padding: 60px;
		.title {
			width: 100%;
		}
		.price {
			font-weight: bold;
			font-size: 1.5rem;
		}
	}
}

@media screen and (min-width: 1460px) {
	.content {
		img {
			height: 400px;
		}
	}

	// .content {
	// 	padding: 60px;
	// }
}
