.productCarousel {
	position: relative;
	.mySwiper {
		max-width: 448px;
		div:first-child {
			span {
				background-color: black;
			}
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

// ==========================================================================
// Tablet
// ==========================================================================
@media screen and (min-width: 768px) {
	.productCarousel {
		padding-right: 40px;
	}
}
