// ==========================================================================
// Default
// ==========================================================================

.titleWrap {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	padding: 10;
	.title {
		font-weight: 100;
		font-size: 0.75rem;
		margin: 0;
	}

	a {
		border: none;
		background: transparent;
		margin: 0 15px 0 15px;
		font-size: 2rem;
		font-weight: 100;
		cursor: pointer;
		color: black;
	}

	a:link {
		text-decoration: none;
	}
}

.productDetailWrap {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 13px;
	padding: 15px;
	background-color: white;
	.carouselWrap {
		grid-row: 1;
		grid-column: 1 / -1;
		background-color: white;
	}

	.offerServicesWrap {
		grid-row: 2;
		grid-column: 1 / 11;
		width: 70%;
		padding-bottom: 50px;
		background-color: white;
		.price {
			font-weight: 400;
			font-size: 1.3rem;
			margin-bottom: 10px;
		}

		p {
			font-size: 0.8rem;
			line-height: 17px;
		}

		div:last-child {
			p:first-child {
				color: red;
				margin-bottom: 0;
			}
			p:last-child {
				font-weight: 400;
			}
		}
	}

	h3 {
		font-weight: 100;
		font-size: 1rem;
	}

	.productInfoWrap {
		grid-row: 3;
		grid-column: 1 / -1;
		.productInfoText {
			p {
				font-size: 0.8rem;
			}
		}

		.productCode {
			font-size: 0.8rem;
		}
	}

	.productSpecification {
		grid-row: 4;
		grid-column: 1 / -1;
		.specification {
			padding: 10px 0 10px 0;
		}
	}

	ul {
		grid-row: 5;
		grid-column: 1 / -1;
		padding: 15px 0 20px 0;
		.listItem {
			list-style: none;
			div {
				display: flex;
				justify-content: space-between;
				p {
					font-size: 0.8rem;
					font-weight: 400;
				}
			}
		}
	}
}

// ==========================================================================
// Tablet
// ==========================================================================
@media screen and (min-width: 768px) {
	.productDetailWrap {
		.carouselWrap,
		.productInfoWrap,
		.productSpecification,
		ul {
			grid-column: 1 / 9;
		}

		.carouselWrap {
			grid-row: 1;
		}

		.productInfoWrap {
			grid-row: 2;
			padding-right: 40px;
		}

		.productSpecification {
			grid-row: 3;
			padding-right: 40px;
		}

		ul {
			grid-row: 4;
			.listItem {
				padding-right: 40px;
			}
		}

		.offerServicesWrap {
			width: 100%;
			grid-column: 9 / -1;
			grid-row: 1 / 6;
			padding: 15px;
			padding-bottom: 0;
			border-left: 1px solid #ddd;
		}
	}
}

// ==========================================================================
// Desktop

// ==========================================================================

@media screen and (min-width: 1024px) {
	.titleWrap {
		width: 80%;

		a {
			margin: 0 60px 0 15px;
		}

		a:link {
			text-decoration: none;
		}
	}
}
