// ==========================================================================
// Default
// ==========================================================================

.main {
	padding-top: 50px;
}

.pageTitle {
	font-weight: 100;
}

.container {
	margin: 0 auto;
	background-color: blue;
}

.gridContainer {
	display: grid;
	gap: 3px;
	background-color: #f9f9f9;
	color: black;
	padding: 10px;
	font-weight: 200;
	letter-spacing: normal;
	line-height: 35px;
	font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica,
		sans-serif;
}

.link {
	color: inherit;
	text-decoration: none;
	display: block;
	background: white;
}

// ==========================================================================
// Lg Mobile
// ==========================================================================
@media screen and (min-width: 500px) {
	.gridContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

// ==========================================================================
// Tablet
// ==========================================================================
@media screen and (min-width: 768px) {
	.gridContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}

// ==========================================================================
// Desktop

// ==========================================================================

@media screen and (min-width: 1024px) {
	.gridContainer {
		grid-template-columns: repeat(3, 1fr);
	}
}
